.list {
    width: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

@media (max-width: 600px) {
    .list {
        width: 90vw;
    }
}

