.list {
    width: 60svw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

@media (max-width: 1024px) {
    .list {
        width: 90svw;
    }
}

