.form {
    width: 40svw;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-radius: var(--border-radius);

    background-color: var(--background2);
}

.title {
    width: 100%;

    text-align: left;

    font-size: 1.5rem;
}

.section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionLabel {
    width: 100%;

    cursor: text;
}

.sectionLabel::selection {
    color: var(--background2);
    background-color: var(--color);
}

.sectionText {
    width: 100%;

    padding: var(--input-padding);

    font-weight: bold;
}

.sectionText::selection {
    color: var(--background2);
    background-color: var(--color);
}

.inputFieldset {
    width: 100%;

    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputLabel {
    width: 100%;

    cursor: text;

    color: var(--color);

    transition: color 0.3s;
}

.inputLabel::selection {
    color: var(--background2);
    background-color: var(--color);
}

.inputFieldset:is(:hover, :focus-within) .inputLabel {
    color: var(--highlight);
}
.inputFieldset:is(:hover, :focus-within) .inputLabel::selection {
    color: var(--background2);
    background-color: var(--highlight);
}

.input {
    width: 100%;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.input::selection {
    color: var(--background2);
    background-color: var(--color);
}

.inputFieldset:is(:hover, :focus-within) .input {
    border-color: var(--highlight);

    color: var(--highlight);
}

.inputFieldset:is(:hover, :focus-within) .input::selection {
    color: var(--background2);
    background-color: var(--highlight);
}

