
:root {
    --light-color: #3c3836;
    --light-background: #ebdbb2;
    --light-background2: #bdae93;

    --dark-color: #bdae93;
    --dark-background: #32302f;
    --dark-background2: #3c3836;

    --color: var(--dark-color);
    --background: var(--dark-background);
    --background2: var(--dark-background2);

    --highlight: #d65d0e;
    --faded: #928374;

    --red: #cc241d;
    --green: #98971a;

    --border-width: 2px;
    --border-radius: 6px;

    --button-padding: 2px 8px;
    --input-padding: 2px;
}

body {
    min-height: 100vh;

    color: var(--color);
    background-color: var(--background);
}

::selection {
    color: var(--background);
    background-color: var(--color);
}

a {
    text-decoration: none;
}

