.page {
    display: flex;
    flex-direction: column;
}

.main {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.titleHighlight {
    color: var(--highlight);
}

.link {
    padding: 0.15rem 0.5rem;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);

    transition: color 0.3s, border-color 0.3s;
}

.link:hover,
.link:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}


