.page {
    width: 100svw;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
}

.headerButton,
.headerLink {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.headerButton:is(:hover, :focus-visible),
.headerLink:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heroTitle {
    font-size: 4rem;

    text-align: center;

    line-height: 1;
}

.heroTitleHighlight {
    color: var(--highlight);
}

.heroTitleHighlight::selection {
    background-color: var(--highlight);
}

.heroDescription {
    text-align: center;
}

.heroActionLink {
    padding: var(--button-padding);

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.heroActionLink:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

@media (max-width: 800px) {
    .heroTitle {
        font-size: 3rem;
    }

    .headerUsername {
        display: none;
    }
}

