.page {
    width: 100svw;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
}

.headerLink,
.headerButton {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.headerLink:is(:hover, :focus-visible),
.headerButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.main {
    min-height: 85svh;

    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.errorMessage {
    text-align: center;

    font-size: 1.5rem;

    color: var(--red);
}

.infoMessage {
    margin: auto;

    text-align: center;

    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .headerUsername {
        display: none;
    }
}
