.page {
    width: 100svw;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
}

.headerButton {
    padding: 0.15rem 0.5rem;

    cursor: pointer;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.headerButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.main {
    min-height: 85svh;

    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.errorMessage {
    text-align: center;

    font-size: 1.5rem;

    color: var(--red);
}

@media (max-width: 800px) {
    .headerUsername {
        display: none;
    }
}
