
.page {
    width: 100svw;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
}

.headerLink {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.headerLink:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    text-align: center;

    font-size: 4rem;
}

.section {
    width: 40svw;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 2rem;

    border-radius: var(--border-radius);

    background-color: var(--background2);
}

.sectionTitle {
    width: 100%;

    font-size: 2rem;
}
