
.page {
    width: 100svw;
    height: 100svh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


