
.page {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    min-height: 10vh;

    padding: 0 2rem 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 2rem;
}

.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.headerNavLink {
    padding: 0.15rem 0.5rem;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.headerNavLink:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.signinForm {
    width: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emailFieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: none;
}

.emailLabel {
    width: 100%;

    cursor: pointer;

    color: var(--color);

    transition: color 0.3s;
}

.emailFieldset:is(:hover, :focus-within) .emailLabel {
    color: var(--highlight);
}

.emailInput {
    width: 100%;

    outline: none;

    border: none;
    border-bottom: solid 0.15rem var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.emailInput::selection {
    color: var(--background);
    background: var(--highlight);
}

.emailFieldset:is(:hover, :focus-within) .emailInput {
    border-color: var(--highlight);

    color: var(--highlight);
}

.passwordFieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: none;
}

.passwordLabel {
    width: 100%;

    cursor: pointer;
    
    color: var(--color);

    transition: color 0.3s;
}

.passwordFieldset:is(:hover, :focus-within) .passwordLabel {
    color: var(--highlight);
}

.passwordInput {
    width: 100%;

    outline: none;

    border: none;
    border-bottom: solid 0.15rem var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.passwordInput::selection {
    color: var(--background);
    background: var(--highlight);
}

.passwordFieldset:is(:hover, :focus-within) .passwordInput {
    border-color: var(--highlight);

    color: var(--highlight);
}

.infoSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoMessage {
    opacity: 0;

    color: var(--red);

    transition: opacity 0.3s;
}

.infoMessage[data-show='true'] {
    opacity: 1;
}

.signinButton {
    padding: 0.15rem 0.5rem;

    cursor: pointer;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--background);
    background: var(--color);

    transition: background-color 0.3s, border-color 0.3s;
}

.signinButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    background-color: var(--highlight);
}

@media (max-width: 600px) {
    .signinForm {
        width: 80vw;
    }
}

@media (max-height: 600px) {
    .header {
        padding-top: 1rem;
    }

    .signinForm {
        width: 40vw;

        gap: 0.5rem;
    }
}
