
.page {
    width: 100svw;
    height: 100svh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupForm {
    width: 25svw;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-radius: var(--border-radius);

    color: var(--background2);
    background-color: var(--background2);

    transition: height 0.3s;
}

.emailFieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: none;
}

.emailLabel {
    width: 100%;

    cursor: pointer;

    color: var(--color);

    transition: color 0.3s;
}

.emailFieldset:is(:hover, :focus-within) .emailLabel {
    color: var(--highlight);
}

.emailInput {
    width: 100%;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.emailInput::selection {
    color: var(--background);
    background: var(--highlight);
}

.emailFieldset:is(:hover, :focus-within) .emailInput {
    border-color: var(--highlight);

    color: var(--highlight);
}

.passwordFieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: none;
}

.passwordLabel {
    width: 100%;

    cursor: pointer;

    color: var(--color);

    transition: color 0.3s;
}

.passwordFieldset:is(:hover, :focus-within) .passwordLabel {
    color: var(--highlight);
}

.passwordInput {
    width: 100%;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.passwordInput::selection {
    color: var(--background);
    background: var(--highlight);
}

.passwordFieldset:is(:hover, :focus-within) .passwordInput{
    border-color: var(--highlight);

    color: var(--highlight);
}

.infoSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupButton {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: inherit;
    background: var(--color);

    transition: background-color 0.3s, border-color 0.3s;
}

.signupButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    background-color: var(--highlight);
}

.infoSection {
    width: 100%;
    max-height: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    opacity: 0;
}

.infoSection[data-show='true'] {
    max-height: 1000px;

    opacity: 1;

    transition: max-height 0.3s, opacity 0.3s;
}

.infoMessage {
    text-align: center;

    opacity: inherit;

    color: var(--red);
}

@media (max-width: 1024px) {
    .signupForm {
        width: 40svw;
    }
}

@media (max-width: 800px) {
    .signupForm {
        width: 80svw;
    }
}


