.menu {
    width: 60vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addItemFieldset {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.itemInput {
    flex: 1;

    padding: 0.2rem;

    border: none;
    border-bottom: solid 0.15rem var(--color);

    color: var(--color);
    background-color: var(--background);

    transition: 0.3s color, 0.3s border-color;
}

.itemInput:hover,
.itemInput:focus-visible {
    outline: none;

    border-color: var(--highlight);
    color: var(--highlight);
}

.addItemButton {
    padding: 0.2rem;

    cursor: pointer;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: 0.3s color, 0.3s border-color;
}

.addItemButton:hover,
.addItemButton:focus-visible {
    outline: none;

    border-color: var(--highlight);
    color: var(--highlight);
}

.filterSection {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.searchFieldset {
    flex: 1;

    display: flex;

    border: none;
}

.searchInput {
    flex: 1;

    padding: 0.2rem;

    border: none;
    border-bottom: solid 0.15rem var(--color);

    color: var(--color);
    background-color: var(--background);

    transition: 0.3s color, 0.3s border-color;
}

.searchInput:hover,
.searchInput:focus-visible {
    outline: none;

    border-color: var(--highlight);
    color: var(--highlight);
}

.filterFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.filterButton {
    padding: 0.15rem;

    cursor: pointer;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.filterButton:hover,
.filterButton:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterButton[data-selected='true'] {
    color: var(--background);
    background-color: var(--color)
}

.filterButton[data-selected='true']:hover,
.filterButton[data-selected='true']:focus-visible {
    background-color: var(--highlight)
}

.actionFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.actionButton {
    padding: 0.15rem;

    cursor: pointer;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.actionButton:hover,
.actionButton:focus-visible {
    outline: none;

    border-color: var(--highlight);

    color: var(--background);
    background-color: var(--highlight);
}
