.menu {
    width: 60vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addItemFieldset {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.itemInput {
    flex: 1;

    padding: 0.2rem;

    outline: none;

    border: none;
    border-bottom: solid 0.15rem var(--color);

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, border-color 0.3s;
}

.itemInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.itemInput:hover,
.itemInput:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.addItemButton {
    padding: 0.15rem 0.5rem;

    cursor: pointer;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, border-color 0.3s;
}

.addItemButton:hover,
.addItemButton:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterSection {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.searchFieldset {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.searchInput {
    flex: 1;

    padding: 0.2rem;

    outline: none;

    border: none;
    border-bottom: solid 0.15rem var(--color);

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, border-color 0.3s;
}

.searchInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.searchInput:hover,
.searchInput:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.filterButton {
    padding: 0.15rem 0.5rem;

    cursor: pointer;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.filterButton:hover,
.filterButton:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterButton[data-selected='true'] {
    color: var(--background);
    background-color: var(--color)
}

.filterButton[data-selected='true']:hover,
.filterButton[data-selected='true']:focus-visible {
    background-color: var(--highlight)
}

.actionFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.actionButton {
    padding: 0.15rem 0.5rem;

    cursor: pointer;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.actionButton:hover,
.actionButton:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

@media (max-width: 1250px) {
    .menu {
        width: 90vw;
    }
}

@media (max-width: 1024px) {
    .filterSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'search search'
            'filter action'
        ;
    }

    .searchFieldset {
        grid-area: search;
    }

    .filterFieldset {
        grid-area: filter;

        justify-content: center;
    }

    .actionFieldset {
        grid-area: action;

        justify-content: center;
    }
}

@media (max-width: 600px) {
    .filterSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'search'
            'filter'
            'action'
        ;
    }

    .filterFieldset {
        justify-content: flex-start;
    }

    .actionFieldset {
        justify-content: flex-start;
    }
}
