
.loadingSection {
    flex: 1;

    width: 60svw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingMessage {
    text-align: center;

    font-size: 1.5rem;

    color: var(--color);
}

.list {
    width: 60svw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

@media (max-width: 1024px) {
    .list {
        width: 90svw;
    }
}

