.header {
    height: 10vh;

    padding: 0 2rem 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navLink {
    color: var(--color);
}
