.header {
    height: 10vh;

    padding: 0 2rem 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navLink {
    padding: 0.15rem 0.5rem;

    text-decoration: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.loginLink {
    color: var(--color);
}

.loginLink:hover,
.loginLink:focus-visible {
    outline: none;

    border-color: var(--highlight);

    color: var(--highlight);
}

.signupLink {
    color: var(--color);
}

.signupLink:hover,
.signupLink:focus-visible {
    outline: none;

    border-color: var(--highlight);

    color: var(--highlight);
}
