.header {
    width: 100%;
    min-height: 10svh;

    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loading {
    text-align: center;
}

.error {
    text-align: center;

    color: var(--red);
}

@media (max-height: 800px) {
    .header {
        padding: 0 1rem;
        padding-top: 1rem;
    }
}
