
.form {
    width: 40svw;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-radius: var(--border-radius);

    background-color: var(--background2);
}

.title {
    width: 100%;

    text-align: center;

    font-size: 2rem;
}

.title::selection {
    color: var(--background2);
    background-color: var(--color);
}

.inputFieldset {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    border: none;
}

.inputLabel {
    width: 100%;

    cursor: text;

    color: var(--color);

    transition: color 0.3s;
}

.inputLabel::selection {
    color: var(--background2);
}

.inputFieldset[data-error='true'] .inputLabel {
    color: var(--red);
}

.inputFieldset[data-error='true'] .inputLabel::selection {
    color: var(--background2);
    background-color: var(--red);
}

.inputFieldset[data-error='false']:is(:hover, :focus-within) .inputLabel {
    color: var(--highlight);
}


.inputFieldset[data-error='false']:is(:hover, :focus-within) .inputLabel::selection {
    color: var(--background2);
    background-color: var(--highlight);
}

.input {
    width: 100%;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.input::selection {
    color: var(--background2);
}

.inputFieldset[data-error='true'] .input {
    border-color: var(--red);

    color: var(--red);
}

.inputFieldset[data-error='true'] .input::selection {
    color: var(--background2);
    background-color: var(--red);
}

.inputFieldset[data-error='false']:is(:hover, :focus-within) .input {
    border-color: var(--highlight);

    color: var(--highlight);
}

.inputFieldset[data-error='false']:is(:hover, :focus-within) .input::selection {
    color: var(--background2);
    background-color: var(--highlight);
}

.inputError {
    width: 100%;

    color: var(--red);
}

.inputError::selection {
    color: var(--background2);
    background-color: var(--red);
}

.authError {
    width: 100%;

    color: var(--red);
}

.authError::selection {
    color: var(--background2);
    background-color: var(--red);
}

