.listItem {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.taskCheckbox {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    appearance: none;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    background-color: var(--background);

    transition: color 0.3s, border-color 0.3s;
}

.taskCheckbox:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.listItem[data-complete='true'] .taskCheckbox:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.taskCheckbox::after {
    content: '';

    width: 1rem;
    height: 1rem;

    border-radius: calc(var(--border-radius) / 2);

    background-color: var(--color);

    transform: scale(0);
    transition: background 0.3s, transform 0.3s;
}

.listItem[data-complete='true'] .taskCheckbox::after {
    transform: scale(1);
}

.taskCheckbox:is(:hover, :focus-visible)::after {
    background-color: var(--highlight);
}

.listItem[data-complete='true'] .taskCheckbox:not(:hover, :focus-visible)::after {
    background-color: var(--faded);
}

.taskTextInput {
    flex: 1;

    min-height: 1.5rem;

    resize: none;
    overflow: hidden;

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--background);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}


.taskTextInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.taskTextInput:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.listItem[data-complete='true'] .taskTextInput:not(:hover, :focus-visible) {
    text-decoration: line-through;

    color: var(--faded);
}

.listItem:hover .taskTextInput:not(:hover, :focus-visible) {
    border-color: var(--color);
}

.listItem[data-complete='true']:hover .taskTextInput:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.removeTaskButton {
    cursor: pointer;
 
    outline: none;

    border: none;

    color: var(--faded);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.removeTaskButton:is(:hover, :focus-visible) {
    color: var(--highlight);
}
