.item {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.mainSection {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.itemCheckbox {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    appearance: none;

    border: 0.15rem solid var(--color);
    border-radius: 0.15rem;

    background-color: var(--background);

    transition: 0.3s color, 0.3s border-color;
}

.item[data-complete='true'] .itemCheckbox:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.itemCheckbox:hover,
.itemCheckbox:focus-visible {
    outline: none;

    color: var(--highlight);
    border-color: var(--highlight);
}

.itemCheckbox::after {
    content: "";

    width: 1rem;
    height: 1rem;

    background-color: var(--color);

    transform: scale(0);
    transition: 0.3s transform, 0.3s background;
}

.itemCheckbox:checked::after {
    transform: scale(1);
}

.itemCheckbox:hover::after,
.itemCheckbox:focus-visible::after {
    background-color: var(--highlight);
}

.item[data-complete='true'] .itemCheckbox:not(:hover, :focus-visible)::after {
    background-color: var(--faded);
}

.itemTextInput {
    flex: 1;

    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    outline: none;

    border: none;
    border-bottom: 0.15rem solid var(--background);

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.item[data-complete='true'] .itemTextInput:not(:hover, :focus-visible) {
    color: var(--faded);
}

.itemTextInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.item:hover .itemTextInput:not(:hover, :focus-visible),
.item:focus-within .itemTextInput:not(:hover, :focus-visible) {
    border-color: var(--color);
}

.item:hover[data-complete='true'] .itemTextInput:not(:hover, :focus-visible),
.item:focus-within[data-complete='true'] .itemTextInput:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.itemTextInput:hover,
.itemTextInput:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.actionSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.removeItemButton {
    padding: 0.15rem;

    cursor: pointer;
 
    outline: none;

    border: 0.15rem solid var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background: none;

    opacity: 0;

    transition: color 0.3s, border-color 0.3s, opacity 0.3s;
}

.removeItemButton:hover,
.removeItemButton:focus-visible {
    border-color: var(--highlight);

    color: var(--highlight);
}

.item:hover .removeItemButton,
.item:focus-visible .removeItemButton,
.item:focus-within .removeItemButton {
    opacity: 1;
}

@media (max-width: 600px) {
    .removeItemButton {
        opacity: 1;
    }
}
