
.item {
    width: 100%;
    height: 1.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.mainSection {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.itemCheckbox {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    appearance: none;

    border: 0.15rem solid var(--color);
    border-radius: 0.15rem;

    color: var(--color);
    background-color: var(--background);

    transition: 0.3s color, 0.3s border-color;
}

.itemCheckbox:hover,
.itemCheckbox:focus-visible {
    outline: none;

    color: var(--highlight);
    border-color: var(--highlight);
}

.itemCheckbox::after {
    content: "";

    width: 1rem;
    height: 1rem;

    background-color: var(--color);

    transform: scale(0);
    transition: 0.3s transform, 0.3s background;
}

.itemCheckbox:checked::after {
    transform: scale(1);
}

.itemCheckbox:hover::after,
.itemCheckbox:focus-visible::after {
    background-color: var(--highlight);
}

.itemText {
    flex: 1;
}

.actionSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.editItemButton {
    cursor: pointer;

    border: none;

    color: var(--color);
    background: none;

    opacity: 0;

    transition: color 0.3s, opacity 0.3s;
}

.editItemButton:hover,
.editItemButton:focus-visible {
    color: var(--highlight);
}

.item:hover .editItemButton,
.item:focus-visible .editItemButton,
.item:focus-within .editItemButton {
    opacity: 1;
}

.removeItemButton {
    cursor: pointer;
    
    border: none;

    color: var(--color);
    background: none;

    opacity: 0;

    transition: color 0.3s, opacity 0.3s;
}

.removeItemButton:hover,
.removeItemButton:focus-visible {
    color: var(--highlight);
}

.item:hover .removeItemButton,
.item:focus-visible .removeItemButton,
.item:focus-within .removeItemButton {
    opacity: 1;
}
