.item {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.itemCheckbox {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    appearance: none;

    outline: none;

    border: solid 0.15rem var(--color);
    border-radius: 0.15rem;

    background-color: var(--background);

    transition: color 0.3s, border-color 0.3s;
}

.itemCheckbox:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.item[data-complete='true'] .itemCheckbox:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.itemCheckbox::after {
    content: '';

    width: 1rem;
    height: 1rem;

    border-radius: 0.15rem;

    background-color: var(--color);

    transform: scale(0);
    transition: background 0.3s, transform 0.3s;
}

.item[data-complete='true'] .itemCheckbox::after {
    transform: scale(1);
}

.itemCheckbox:is(:hover, :focus-visible)::after {
    background-color: var(--highlight);
}

.item[data-complete='true'] .itemCheckbox:not(:hover, :focus-visible)::after {
    background-color: var(--faded);
}

.itemTextInput {
    flex: 1;

    min-height: 1.5rem;

    resize: none;
    overflow: hidden;

    outline: none;

    border: none;
    border-bottom: 0.15rem solid var(--background);
    border-radius: 0;

    color: var(--color);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}


.itemTextInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.itemTextInput:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.item[data-complete='true'] .itemTextInput:not(:hover, :focus-visible) {
    color: var(--faded);
}

.item:hover .itemTextInput:not(:hover, :focus-visible) {
    border-color: var(--color);
}

.item[data-complete='true']:hover .itemTextInput:not(:hover, :focus-visible) {
    border-color: var(--faded);
}

.removeItemButton {
    cursor: pointer;
 
    outline: none;

    border: none;

    color: var(--faded);
    background: none;

    transition: color 0.3s, border-color 0.3s;
}

.removeItemButton:is(:hover, :focus-visible) {
    color: var(--highlight);
}
