.loadingSection {
    width: 60svw;
    height: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);

    background-color: var(--background2);
}

.loadingMessage {
    text-align: center;

    font-size: 1.5rem;

    color: var(--color);
}

.menu {
    width: 60svw;
    min-height: 4rem;

    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: var(--border-radius);

    color: var(--background2);
    background-color: var(--background2);
}

.addTaskFieldset {
    width: 100%;
    min-height: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.taskInput {
    flex: 1;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background-color: inherit;

    transition: color 0.3s, border-color 0.3s;
}

.taskInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.taskInput:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.addTaskButton {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background-color: inherit;

    transition: color 0.3s, border-color 0.3s;
}

.addTaskButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterSection {
    width: 100%;
    min-height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    border: none;
}

.searchFieldset {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.searchFieldsetLabel {
    color: var(--color);
}

.searchInput {
    flex: 1;

    padding: var(--input-padding);

    outline: none;

    border: none;
    border-bottom: var(--border-width) solid var(--color);
    border-radius: 0;

    color: var(--color);
    background-color: inherit;

    transition: color 0.3s, border-color 0.3s;
}

.searchInput::selection {
    color: var(--background);
    background-color: var(--highlight);
}

.searchInput:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.filterFieldsetLabel {
    color: var(--color);
}

.filterButton {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background-color: inherit;

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.filterButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

.filterButton[data-selected='true'] {
    color: inherit;
    background-color: var(--color);
}

.filterButton[data-selected='true']:is(:hover, :focus-visible) {
    background-color: var(--highlight)
}

.actionFieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: none;
}

.actionFieldsetLabel {
    color: var(--color);
}

.actionButton {
    padding: var(--button-padding);

    cursor: pointer;

    outline: none;

    border: var(--border-width) solid var(--color);
    border-radius: var(--border-radius);

    color: var(--color);
    background: inherit;

    transition: color 0.3s, border-color 0.3s;
}

.actionButton:is(:hover, :focus-visible) {
    border-color: var(--highlight);

    color: var(--highlight);
}

@media (max-width: 1024px) {
    .loadingSection {
        width: 90svw;
    }

    .menu {
        width: 90svw;
    }
}
